# Python Assignment - 4
# Tuples and Sets

In [19]:
# 1. Write a Python program to add an item in a tuple.

basket = ('fruits','veggies','icecreams')
print(type(basket))

<class 'tuple'>

In [9]:
# 2. Write a Python program to reverse a tuple.

reversed_tuple = tuple(reversed(basket))
print(reversed_tuple)

('icecreams', 'veggies', 'fruits')

In [11]:
# 3. Swap the following two tuples

tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print(tuple1)
print(tuple2)

(99, 88)
(11, 22)

In [20]:
# 4. Modify the first item (22) of a list inside a following tuple to 222, tuple1 = (11, [22, 33], 44, 55)

tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222
print(tuple1)

(11, [222, 33], 44, 55)

In [18]:
# 5. Write a Python program to unpack a tuple in several variables

tuple1 = (11, [22, 33], 44, 55)
a, b, c, d = tuple1
print(a,b,c,d, sep='\n')

11
[22, 33]
44
55

In [24]:
# 6. Write a Python program to add member(s) in an empty set.

set1=set()
set1.add("apple")
set1.update(["pineapple","orange"])
print(set1)

{'pineapple', 'apple', 'orange'}

In [21]:
# 7. Write a Python program to create an intersection of sets

set1={1,2,3,4,5}
set2={3,4,5,6,7}
set1.intersection(set2)

{3, 4, 5}

In [22]:
# 8. Write a Python program to create a symmetric difference in sets.

set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [24]:
# 9. Return a set of identical items from a given two Python set

set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}

set1.intersection(set2)

{30, 40, 50}

In [3]:
# 10. Remove 10, 20, 30 elements from a following set at once

set1 = {10, 20, 30, 40, 50}
delete_set = {10,20,30}
set1.difference_update(delete_set)
print(set1)

{40, 50}

In [6]:
# 11. Access value 20 from the following tuple example = ("Pooja", [10, 20, 30], (25, 50, 15))

tuple1 = ("Pooja", [10, 20, 30], (25, 50, 15))
print(tuple1[1][1])

20

In [25]:
# 12. Count the number of occurrences of item 50 from a tuple numbers = (50, 10, 60, 70, 50)

tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2