#  Python Pandas

In [21]:
import pandas as pd
import numpy as np

In [5]:
# 1. Define and create a Dataframe using Pandas.

df = pd.DataFrame({'name': ['Ajay', 'Amir', 'Neha', 'Fareed', 'Amid'], 'age': [22, 25, 24, 28, 30], 
                    'occupation': ['doctor', 'engineer', 'data analyst', 'teacher', 'data scientist']})
df

     name  age      occupation
0    Ajay   22          doctor
1    Amir   25        engineer
2    Neha   24    data analyst
3  Fareed   28         teacher
4    Amid   30  data scientist

In [6]:
# 2. How can we calculate the standard deviation from the series.

df['age'].std()

3.1937438845342623

In [9]:
# 3. Create a Dataframe using List given below: lis=[‘Python’,’Numpy’,’Pandas’]

list1 =['Python','Numpy','Pandas']
df1 = pd.DataFrame(data=[list1])
print(df1)

        0      1       2
0  Python  Numpy  Pandas

In [10]:
# 4. Create a Series from dictionary given below: info = {'x' : 0., 'y' : 1., 'z' : 2.}

info = pd.Series({'x' : 0., 'y' : 1., 'z' : 2.})
print(info)

x    0.0
y    1.0
z    2.0
dtype: float64

In [11]:
# 5. How will you create an empty Dataframe in Pandas

df2 = pd.DataFrame(columns=['ID', 'Name', 'Age'])
print(df2, sep='\n')

Empty DataFrame
Columns: [ID, Name, Age]
Index: []

In [12]:
# 6. i) Add a column to that pandas Dataframe that you created in Q1. ii) Change index of that Dataframe.

df2['ID'] = [101, 111, 121]
df2['Name'] = ['Ajay', 'Amir', 'Neha']
df2['Age'] = [30, 28, 25]
print(df2)

    ID  Name  Age
0  101  Ajay   30
1  111  Amir   28
2  121  Neha   25

In [30]:
# 7. Get the following from this dataframe:i) mean ii) median iii) mode iv) 75th percentile v) 90th percentile vi) 99th percentile

import random
A = [ random.randint(0,100) for i in range(10) ]
B = [ random.randint(0,100) for i in range(10) ]
df = pd.DataFrame({ 'field_A': A, 'field_B': B })
print(df,'\n')
print('Mean \n',df.mean(),'\n')
print('Median \n',df.median(),'\n')
print('Mode',df.mode(),'\n')
print('75th Percentile \n',np.percentile(df.field_A, 75))
print('90th Percentile \n',np.percentile(df.field_A, 90))
print('99th Percentile \n',np.percentile(df.field_A, 99))

   field_A  field_B
0       94       52
1       47       28
2       35       77
3       65       70
4       23       27
5       70       52
6       86       83
7       64        2
8       40       60
9       99       64

Mean
 field_A    62.3
field_B    51.5
dtype: float64

Median
 field_A    64.5
field_B    56.0
dtype: float64

Mode    field_A  field_B
0       23     52.0
1       35      NaN
2       40      NaN
3       47      NaN
4       64      NaN
5       65      NaN
6       70      NaN
7       86      NaN
8       94      NaN
9       99      NaN

75th Percentile
 82.0
90th Percentile
 94.5
99th Percentile
 98.55000000000001

In [31]:
# 8. How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)?

df.nunique()

field_A    10
field_B     9
dtype: int64

In [32]:
# 9. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’? Take the following as input.

np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 2    6
4    5
3    1
dtype: int64

0         4
1     Other
2         4
3         4
4         4
5         2
6         2
7         2
8         4
9         2
10        2
11        2
dtype: object

In [53]:
''' 10. A DataFrame has a column of groups 'grps' and and column of integer values 'vals':
For each group, find the sum of the three greatest values. You should end up with the answer as follows:
grps
a 409
b 156
c 345 '''

df = pd.DataFrame({'grps':list('aaabbcaabcccbbc'),'vals': [12, 345, 3, 1, 45, 14 , 4, 52, 54, 23, 235, 21, 57, 3, 87]})
print(df)
df = df.sort_values('vals', ascending=False)
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

# df.groupby('grp')['vals'].apply(lambda x: pd.Series(x).nlargest(3).sum())

   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87

grps
a    409
b    156
c    345
Name: vals, dtype: int64

In [65]:
# 11. Display a summary of the basic information about this DataFrame and its data

data = pd.DataFrame(({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat',
'snake', 'cat', 'dog', 'dog'],
'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no',
'no']}), index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(data)
print('\n Summary of dataframe: \n')

print(data.info())

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

 Summary of dataframe:

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [64]:
# 12. Select the rows where the age is between 2 and 4 (inclusive).

print(data[data['age'].between(2, 4)])

  animal  age  visits priority
a    cat  2.5       1      NaN
b    cat  3.0       3      NaN
j    dog  3.0       1      NaN

In [48]:
# 13. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

print(data.iloc[[3, 4, 8],[0, 1]])

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

In [41]:
# 14. Select the rows where the age is missing, i.e. it is NaN.

print(data[data['age'].isnull()])

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

In [50]:
# 15. Select the rows where the animal is a cat and the age is less than 3

data[(data['animal'] == 'cat') & (data['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [66]:
# 16. Change the age in row 'f' to 1.5.

data.loc['f', 'age'] = 1.5
print(data['age'])

a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    1.5
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64

In [67]:
# 17. In the 'animal' column, change the 'snake' entries to 'python'.

data['animal'] = data['animal'].replace('snake', 'python')
print(data['animal'])

a       cat
b       cat
c    python
d       dog
e       dog
f       cat
g    python
h       cat
i       dog
j       dog
Name: animal, dtype: object

In [68]:
# 18. Count the number of each type of animal in df.

data['animal'].value_counts()

dog       4
cat       4
python    2
Name: animal, dtype: int64

In [69]:
# 19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 
# 'yes' should #be True and 'no' should be False.

data['priority'] = data['priority'].map({'yes': True, 'no': False})
print(data)

   animal  age  visits  priority
a     cat  2.5       1      True
b     cat  3.0       3      True
c  python  0.5       2     False
d     dog  NaN       3      True
e     dog  5.0       2     False
f     cat  1.5       3     False
g  python  4.5       1     False
h     cat  NaN       1      True
i     dog  7.0       2     False
j     dog  3.0       1     False

In [70]:
# 20. For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a
# number of visits and the values are the mean ages (hint: use a pivot table).

data.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN